html {
    height: 100%;
}
body {
  color: #33373d;
  background-color: #fff;
  height: 100%;
}

.scrollX-hidden {
  overflow-x: hidden;
}

.scrollY-overlay {
  overflow-y: hidden !important;
}

.scrollY-overlay:hover {
  overflow-y: auto;
  overflow-y: overlay !important;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.gray {
  color: #969ba3;
}

.red {
  color: #ed424b;
}

.blue {
  color: #4284ed;
}

.text-line-comm {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.no-more {
    line-height: 32px;
    text-align: center;
}
